<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SuperUfide</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section class="vh-100" style="background-color: #1EB6BD;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">
                                        <form>
                                            <div class="d-flex align-items-center mb-3 pb-1">
                                                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                                <span class="h1 fw-bold mb-0">SuperUfide</span>
                                            </div>
                                            <p class="mb-5 pb-lg-2" style="color: #393f81;">Nuevo usuario? <a th:href="@{/registro/nuevo}" >Registrate aqui</a></p>
                                            <div class="form-outline mb-3">
                                                <label class="form-label" for="username">Nombre de Usuario</label>
                                                <input class="form-control form-control-lg" type="text" name="username" id="username"/></div>  
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="password">Contraseña</label>
                                                <input class="form-control form-control-lg" type="password" name="password" id="password"/></div>
                                            <div class="form-check mb-0">    
                                                <a th:href="@{/registro/recordar}" class="form-check-input me-2"></a>
                                                <label class="form-check-label" for="form2Example3">
                                                    Recordar
                                                </label></div>
                                            <div class="pt-1 mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">             
                                                    Login</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img src="https://www.thestrongcamp.com/wp-content/uploads/2021/06/login-img.png"
                                         width="350px" class="img-fluid" style="border-radius: 0 1rem 1rem 0;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>