<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SuperUfide</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            
        </section>
        
        <section th:fragment="agregarUsuario">
            
        </section>
        
        <section th:fragment="listadoUsuarios" id="usuarios">
            
        </section>
        
        <section th:fragment="editarUsuario">
            
        </section>
        
        <section th:fragment="botonesEditar">
            
        </section>
        
    </body>
</html>
