<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SuperUfide</title>
    </head>
    <body>  
        <section th:fragment="nuevoUsuario" class="vh-100" style="background-color: #1EB6BD;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">
                                        <form method="POST" th:action="@{/registro/crearUsuario}" th:object="${usuario}" class="was-validated">
                                            <h4>Registro</h4>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="username">Nombre de Usuario</label>
                                                    <input type="text" class="form-control form-control-lg" name="username" th:field="*{username}" required="true"/></div>
                                                <div class="form-outline mb-3">
                                                    <label class="form-label" for="nombre">Nombre</label>
                                                    <input type="text" class="form-control form-control-lg" name="nombre" th:field="*{nombre}" required="true"/></div>
                                                <div class="form-outline mb-3">
                                                    <label for="apellidos">Apellidos</label>
                                                    <input type="text" class="form-control form-control-lg" name="apellidos" th:field="*{apellidos}" required="true"/></div>
                                                <div class="form-outline mb-3">
                                                    <label for="email">[[#{usuario.correo}]]</label>
                                                    <input type="email" class="form-control" 
                                                           name="correo" th:field="*{correo}"
                                                           required="true"/></div></div>
                                            <div class="text-center">                                                
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fas fa-envelope"></i>  Crear
                                                </button></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img src="https://www.thestrongcamp.com/wp-content/uploads/2021/06/login-img.png"
                                         width="350px" class="img-fluid" style="border-radius: 0 1rem 1rem 0;" />
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="activarUsuario" class="vh-100" style="background-color: #1EB6BD;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">
                                        <form method="POST" th:action="@{/registro/activar}" th:object="${usuario}" class="was-validated" enctype="multipart/form-data">
                                            <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                                            <div class="card">
                                                <h4>[[#{registro.activar}]]</h4>
                                                <div class="card-body">
                                                    <div class="form-outline mb-3">
                                                        <label class="form-label" for="username">Nombre de Usuario</label>
                                                        <input type="text" class="form-control form-control-lg" name="username" th:field="*{username}" required="true"/></div>
                                                    <div class="form-outline mb-3">
                                                        <label class="form-label" for="nombre">Nombre</label>
                                                        <input type="text" class="form-control form-control-lg" name="nombre" th:field="*{nombre}" required="true"/></div>
                                                    <div class="form-outline mb-3">
                                                        <label class="form-label" for="apellidos">Apellidos</label>
                                                        <input type="text" class="form-control form-control-lg" name="apellidos" th:field="*{apellidos}" required="true"/></div>
                                                    <div class="form-outline mb-3">
                                                        <label class="form-label" for="email">Correo</label>
                                                        <input type="email" class="form-control form-control-lg" name="correo" th:field="*{correo}" required="true"/></div>
                                                    <div class="form-outline mb-3">
                                                        <label class="form-label" for="telefono">Telefono</label>
                                                        <input type="tel" class="form-control form-control-lg" name="telefono" th:field="*{telefono}"/></div>
                                                    <div class="form-outline mb-3">
                                                        <label class="form-label" for="password">Contraseña</label>
                                                        <input type="password" class="form-control form-control-lg" name="password" th:field="*{password}"/></div>
                                                    <div class="form-outline mb-3">
                                                        <label class="form-label" for="imagen">Imagen</label>
                                                        <input class="form-control form-control-lg" type="file" name="imagenFile" onchange="readURL(this);" />
                                                        <img id="blah" th:src="@{${usuario.rutaImagen}}" alt="your image" height="200"/>
                                                    </div>                                                
                                                </div>
                                                <div class="card-footer align-items-center">
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fas fa-check"></i> [[#{usuario.activacion}]]
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>
