<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SuperUfide</title>        
    </head>
    <body>

        <header th:replace="~{layout/plantilla :: header}"/>

        <section class="vh-100" style="background-color: #1EB6BD;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-50">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="col-md-0 col-lg-0 d-flex align-items-center">
                                <div class="card-body p-lg-5 text-black">
                                    <div class="card-header align-items-center">
                                        [[${titulo}]]
                                    </div>
                                    <div class="card-body">
                                        <strong>[[${mensaje}]]</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>